---
title: Oh no 404 Not Found
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>404 Yikes. <a href="{{ '/' | url }}"> Just run and pretend it didnt happen</a>.</p>
</div>